.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

    .secondContainer{
        background-color: white;
        padding: 10em ;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        gap: 2em;
        align-items: center;

        h2{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            width: 100%;

            input{
                padding: 1em;
                border-radius: 5px;
                border: 1px solid #e5ece5;
                width: 100%;
                outline: none;
                
                &:focus{
                    border-color: #40d167;
                }
            }
            button{
                padding: 1em;
                width: 100%;
            }
            
        }
        p{
            width: fit-content;
            
            a{
                
                color: #60976e;
                text-decoration: underline;
            }
        }
    }
}


@media screen and (max-width: 540px){
    .container{
        padding: 2em;
        .secondContainer{
            padding: 5em 2em;
            
    
            form{
               
            }
        }
    }
}