<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/chat/chat.css">
    <title>Chatroom</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>FSE Chat Room</h2>
            <button id="logoutBtn">Logout</button>
        </div>
        <ul class="chatSection" id="messagesList">
           
        </ul>
        <form class="message" id="chatForm">
            <input type="text" id="chatInput" placeholder="Enter your message .........." required>
            <button type="submit"> Send</button>
        </form>
    </div>

    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script src="/public/js/chat.js"></script>
</body>
</html>